<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/trips/new">New Trips</a>
    <a href="/trips">All Trips</a>


  </body>
</html>
